In [8]:
import pandas as pd
  
# Define a dictionary containing Students data
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
        'Score 1' : [56,86,77,45],
        'Score 2' : [50,96,60,30]}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print("------before -------")
print(df)


# Declare a list that is to be converted into a column
address = ['NYC', 'NJ', 'CA', 'PA']
  
# Using 'Address' as the column name
# and equating it to the list
df['Address'] = address
print("------after adding column -------")
# Observe the result
print(df)

------before -------
     Name  Height Qualification  Score 1  Score 2
0    Jane     5.1           Msc       56       50
1  Princi     6.2            MA       86       96
2   James     5.1           Msc       77       60
3    Fadi     5.2           Msc       45       30
------after adding column -------
     Name  Height Qualification  Score 1  Score 2 Address
0    Jane     5.1           Msc       56       50     NYC
1  Princi     6.2            MA       86       96      NJ
2   James     5.1           Msc       77       60      CA
3    Fadi     5.2           Msc       45       30      PA

In [9]:
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
       'Score 1' : [56,86,77,45],
           'Score 2' : [50,96,60,30]}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print("------before -------")
print(df)
print("------after adding column -------")

df['Total_Score'] = df['Score 1'] +  df['Score 2']

print(df)

------before -------
     Name  Height Qualification  Score 1  Score 2
0    Jane     5.1           Msc       56       50
1  Princi     6.2            MA       86       96
2   James     5.1           Msc       77       60
3    Fadi     5.2           Msc       45       30
------after adding column -------
     Name  Height Qualification  Score 1  Score 2  Total_Score
0    Jane     5.1           Msc       56       50          106
1  Princi     6.2            MA       86       96          182
2   James     5.1           Msc       77       60          137
3    Fadi     5.2           Msc       45       30           75

In [10]:
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
       'Score 1' : [56,86,77,45],
           'Score 2' : [50,96,60,30]}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print("------before -------")
print(df)
print("------after adding column -------")

df['Total_Score'] = df['Score 1'] +  df['Score 2']
df['Total_Score_average'] = df['Total_Score']/ 2
print(df)
df

------before -------
     Name  Height Qualification  Score 1  Score 2
0    Jane     5.1           Msc       56       50
1  Princi     6.2            MA       86       96
2   James     5.1           Msc       77       60
3    Fadi     5.2           Msc       45       30
------after adding column -------
     Name  Height Qualification  Score 1  Score 2  Total_Score  \
0    Jane     5.1           Msc       56       50          106
1  Princi     6.2            MA       86       96          182
2   James     5.1           Msc       77       60          137
3    Fadi     5.2           Msc       45       30           75

   Total_Score_average
0                 53.0
1                 91.0
2                 68.5
3                 37.5

,Name,Height,Qualification,Score 1,Score 2,Total_Score,Total_Score_average
0,Jane,5.1,Msc,56,50,106,53.0
1,Princi,6.2,MA,86,96,182,91.0
2,James,5.1,Msc,77,60,137,68.5
3,Fadi,5.2,Msc,45,30,75,37.5

In [11]:
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
       'Score 1' : [56,86,77,45],
       'Score 2' : [50,96,60,30]
       }

# Convert the dictionary into DataFrame
df = pd.DataFrame(data,columns = ['Score 1','Score 2','Name', 'Qualification'  ])
print("------before -------")
print(df)
print("------after adding column -------")

df['Total_Score'] = df['Score 1'] +  df['Score 2']
print(df)

------before -------
   Score 1  Score 2    Name Qualification
0       56       50    Jane           Msc
1       86       96  Princi            MA
2       77       60   James           Msc
3       45       30    Fadi           Msc
------after adding column -------
   Score 1  Score 2    Name Qualification  Total_Score
0       56       50    Jane           Msc          106
1       86       96  Princi            MA          182
2       77       60   James           Msc          137
3       45       30    Fadi           Msc           75

In [12]:
# importing pandas library
import pandas as pd
 
# creating and initializing a list
values = [['Rohan', 455], ['Elvish', 250], ['John', 495],
          ['Sai', 400], ['Eric', 350], ['Adam', 450]]
 
# creating a pandas dataframe
df = pd.DataFrame(values, columns=['Name', 'Univ_Marks'])
 
# displaying the data frame
 
print('Data frame before calculating percentage\n')
print(df)
print('\nData frame with Percentage Column\n')
 
# Creating new column Percentage derived from Univ_Marks
df["Percentage"] = df["Univ_Marks"]/500*100
 
# displaying the data frame
print(df)

Data frame before calculating percentage

     Name  Univ_Marks
0   Rohan         455
1  Elvish         250
2    John         495
3     Sai         400
4    Eric         350
5    Adam         450

Data frame with Percentage Column

     Name  Univ_Marks  Percentage
0   Rohan         455        91.0
1  Elvish         250        50.0
2    John         495        99.0
3     Sai         400        80.0
4    Eric         350        70.0
5    Adam         450        90.0

In [13]:
# Import pandas package 
import pandas as pd
  
# Define a dictionary containing Students data
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
       'Score 1' : [56,86,77,45],
           'Score 2' : [50,96,60,30]}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print("------before -------")
print(df)
# Using DataFrame.insert() adding age column
df.insert(2, "Age", [21, 23, 24, 21], True)
print("------after adding column -------")
# Observe the result
print(df)

------before -------
     Name  Height Qualification  Score 1  Score 2
0    Jane     5.1           Msc       56       50
1  Princi     6.2            MA       86       96
2   James     5.1           Msc       77       60
3    Fadi     5.2           Msc       45       30
------after adding column -------
     Name  Height  Age Qualification  Score 1  Score 2
0    Jane     5.1   21           Msc       56       50
1  Princi     6.2   23            MA       86       96
2   James     5.1   24           Msc       77       60
3    Fadi     5.2   21           Msc       45       30

In [14]:
# Import pandas package
import pandas as pd
  
# Define a dictionary containing Students data
data = {'Name': ['Jane', 'Princi', 'James', 'Fadi'],
        'Height': [5.1, 6.2, 5.1, 5.2],
        'Qualification': ['Msc', 'MA', 'Msc', 'Msc'],
       'Score 1' : [56,86,77,45],
           'Score 2' : [50,96,60,30]}
  
print("------before -------")  
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
print("------after adding column -------")
# using DataFrame.assign() method adding 'Address' as the column name and equating it to the list
df = df.assign(address = ['NYC', 'NJ', 'CA', 'PA'])
  
# Observe the result
print(df)

------before -------
     Name  Height Qualification  Score 1  Score 2
0    Jane     5.1           Msc       56       50
1  Princi     6.2            MA       86       96
2   James     5.1           Msc       77       60
3    Fadi     5.2           Msc       45       30
------after adding column -------
     Name  Height Qualification  Score 1  Score 2 address
0    Jane     5.1           Msc       56       50     NYC
1  Princi     6.2            MA       86       96      NJ
2   James     5.1           Msc       77       60      CA
3    Fadi     5.2           Msc       45       30      PA