In [8]:
# importing pandas library
import pandas as pd
 
# Initializing the nested list with Data set
employee_list = [['James', 36, 75, 5428000],
               ['Villers', 38, 74, 3428000],
               ['VKole', 31, 70, 8428000],
               ['Smith', 34, 80, 4428000],
               ['Gayle', 40, 100, 4528000],
               ['Rooter', 33, 72, 7028000],
               ['Peterson', 42, 85, 2528000],
               ['John', 41, 85, 1528000],
]
# creating a pandas dataframe
df = pd.DataFrame(employee_list, columns=['Name', 'Age', 'Weight', 'Salary'])
 
print(' ------data frame before slicing-----')
print(df)

print(' ------ Select First Row by Index-----')
# Select First Row by Index
print(df.iloc[:2])

print(' ------ Select First 4 Row by Index-----')
# Slicing first 4 rows from dataframe
df1 = df.iloc[0:4]
# This above line used the iloc indexer to slice (select) the first 4 rows of the #original DataFrame (df) and assigns the result to a new DataFrame named df1.

print(' ------data frame after slicing----')
print(df1)

 ------data frame before slicing-----
       Name  Age  Weight   Salary
0     James   36      75  5428000
1   Villers   38      74  3428000
2     VKole   31      70  8428000
3     Smith   34      80  4428000
4     Gayle   40     100  4528000
5    Rooter   33      72  7028000
6  Peterson   42      85  2528000
7      John   41      85  1528000
 ------ Select First Row by Index-----
      Name  Age  Weight   Salary
0    James   36      75  5428000
1  Villers   38      74  3428000
 ------ Select First 4 Row by Index-----
 ------data frame after slicing----
      Name  Age  Weight   Salary
0    James   36      75  5428000
1  Villers   38      74  3428000
2    VKole   31      70  8428000
3    Smith   34      80  4428000

In [9]:
# Initializing the nested list with Data set
employee_list = [['James', 36, 75, 5428000],
               ['Villers', 38, 74, 3428000],
               ['VKole', 31, 70, 8428000],
               ['Smith', 34, 80, 4428000],
               ['Gayle', 40, 100, 4528000],
               ['Rooter', 33, 72, 7028000],
               ['Peterson', 42, 85, 2528000],
               ['John', 41, 85, 1528000]]
 
# creating a pandas dataframe
df = pd.DataFrame(employee_list, columns=['Name', 'Age', 'Weight', 'Salary'])
 
# data frame before slicing
print(df)
print( '====Slicing columns in dataframe======')

emp_df =df.iloc[:, 0:2]
print(emp_df)

       Name  Age  Weight   Salary
0     James   36      75  5428000
1   Villers   38      74  3428000
2     VKole   31      70  8428000
3     Smith   34      80  4428000
4     Gayle   40     100  4528000
5    Rooter   33      72  7028000
6  Peterson   42      85  2528000
7      John   41      85  1528000
====Slicing columns in dataframe======
       Name  Age
0     James   36
1   Villers   38
2     VKole   31
3     Smith   34
4     Gayle   40
5    Rooter   33
6  Peterson   42
7      John   41

In [10]:
print(df1.iloc[0:2, 0:2])

      Name  Age
0    James   36
1  Villers   38

In [11]:
import pandas as pd

#create DataFrame with six columns
df = pd.DataFrame({'team': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
                   'points': [18, 22, 19, 14, 14, 11, 20, 28],
                   'assists': [5, 7, 7, 9, 12, 9, 9, 4],
                   'rebounds': [11, 8, 10, 6, 6, 5, 9, 12],
                   'steals': [4, 3, 3, 2, 5, 4, 3, 8],
                   'blocks': [1, 0, 0, 3, 2, 2, 1, 5]})

#view DataFrame
print(df)

  team  points  assists  rebounds  steals  blocks
0    A      18        5        11       4       1
1    B      22        7         8       3       0
2    C      19        7        10       3       0
3    D      14        9         6       2       3
4    E      14       12         6       5       2
5    F      11        9         5       4       2
6    G      20        9         9       3       1
7    H      28        4        12       8       5

In [12]:
#slice columns team and rebounds
df_new = df.loc[:, ['team', 'rebounds']]

#view new DataFrame
print(df_new)

  team  rebounds
0    A        11
1    B         8
2    C        10
3    D         6
4    E         6
5    F         5
6    G         9
7    H        12

In [13]:
#slice columns between team and rebounds
df_new = df.loc[:, 'team':'rebounds']

#view new DataFrame
print(df_new)

  team  points  assists  rebounds
0    A      18        5        11
1    B      22        7         8
2    C      19        7        10
3    D      14        9         6
4    E      14       12         6
5    F      11        9         5
6    G      20        9         9
7    H      28        4        12

In [14]:
print(df.loc[3:6, ['team']])

  team
3    D
4    E
5    F
6    G