In [1]:
import mysql.connector as mydbconnection
from mysql.connector import Error
try:
	conn = mydbconnection.connect(database='usersdb', user='root',password='password', port ='3306')
	cursor=conn.cursor()
	myquery2 = "CREATE TABLE `laptop` (`Id` int(11) NOT NULL,\
  `Name` varchar(250) NOT NULL,\
  `Price` float NOT NULL,\
  `Purchase_date` date NOT NULL)"
	cursor.execute(myquery2)
	print("Table is created")
except Error as e:
    print("Failed tocreate table {}".format(e))
finally:
   if conn.is_connected():
    conn.close()
    print("MySQL connection is closed")

Failed tocreate table 1050 (42S01): Table 'laptop' already exists
MySQL connection is closed

In [2]:
import mysql.connector as mydbconnection
from mysql.connector import Error

try:
    conn = mydbconnection.connect(database='usersdb', user='root',password='password', port='3306')

    mySql_insert_query = """INSERT INTO Laptop (Id, Name, Price, Purchase_date) 
                           VALUES 
                           (15, 'Lenovo ThinkPad P71', 6459, '2019-08-14') """

    cursor = conn.cursor()
    cursor.execute(mySql_insert_query)
    # commit necessary for changes to actually happen
    conn.commit()
    # shows numbers of rows inserted/acted upon
    print(cursor.rowcount, "Record inserted successfully into Laptop table")
    cursor.close()

except Error as e:
    print("Failed to insert record into Laptop table {}".format(e))

finally:
   if conn.is_connected():
    conn.close()
    print("MySQL connection is closed")

1 Record inserted successfully into Laptop table
MySQL connection is closed

In [3]:
import mysql.connector as mydbconnection
from mysql.connector import Error
def insert_variables_into_table(id, name, price, purchase_date):
    try:
        conn = mydbconnection.connect(database='usersdb', user='root',password='password', port ='3306')
        cursor = conn.cursor()
        mySql_insert_query = """INSERT INTO Laptop (Id, Name, Price, Purchase_date)VALUES (%s, %s, %s, %s) """                  

        # tuple of record
        record = (id, name, price, purchase_date)
        # inserts (unpacks?) record into query
        cursor.execute(mySql_insert_query, record)
        conn.commit()
        print("Record inserted successfully into Laptop table")

    except Error as error:
        print("Failed to insert into MySQL table {}".format(error))

    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()
            print("MySQL connection is closed")


insert_variables_into_table(2, 'Area 51M', 6999, '2019-04-14')
insert_variables_into_table(3, 'MacBook Pro', 2499, '2019-06-20')

Record inserted successfully into Laptop table
MySQL connection is closed
Record inserted successfully into Laptop table
MySQL connection is closed

In [4]:
import mysql.connector as mydbconnection
from mysql.connector import Error

try:
    conn = mydbconnection.connect(database='usersdb', user='root',password='password', port ='3306')

    mySql_insert_query = """INSERT INTO Laptop (Id, Name, Price, Purchase_date) 
                           VALUES (%s, %s, %s, %s) """

    records_to_insert = [(4, 'HP Pavilion Power', 1999, '2019-01-11'),
                         (5, 'MSI WS75 9TL-496', 5799, '2019-02-27'),
                         (6, 'Microsoft Surface', 2330, '2019-07-23')]
    cursor = conn.cursor()
    # allows for a more pythonic way of inserting rows
    # pythonic means lazy but in a good way
    cursor.executemany(mySql_insert_query, records_to_insert)
    conn.commit()
    print(cursor.rowcount, "Record inserted successfully into Laptop table")

except Error as error:
    print("Failed to insert record into MySQL table {}".format(error))

finally:
    if conn.is_connected():
        cursor.close()
        conn.close()
        print("MySQL connection is closed")

3 Record inserted successfully into Laptop table
MySQL connection is closed