In [20]:
import mysql.connector as dbconnect

myconnection = dbconnect.connect(host='localhost', database='classicmodels', user="root", password="password")
# Get a cursor
cursor = myconnection.cursor()
SQLQuery ="SELECT ordernumber, SUM(quantityOrdered) AS itemsCount, SUM(priceeach*quantityOrdered) AS total FROM orderdetails GROUP BY ordernumber HAVING    total > 1000    AND    itemsCount > 600";
# Execute a query
cursor.execute(SQLQuery)            
# get all records
records = cursor.fetchall()   
print("Total number of rows in table: ", cursor.rowcount)    
print("\nPrinting each row")
for row in records:
    print("order number = ", row[0],  )
    print("item counts = ", row[1])
    print("total  = ", row[2], "\n" )
# Close connection
cursor.close()
myconnection.close()

Total number of rows in table:  22

Printing each row
order number =  10106
item counts =  675
total  =  52151.81

order number =  10126
item counts =  617
total  =  57131.92

order number =  10135
item counts =  607
total  =  55601.84

order number =  10165
item counts =  670
total  =  67392.85

order number =  10168
item counts =  642
total  =  50743.65

order number =  10204
item counts =  619
total  =  58793.53

order number =  10207
item counts =  615
total  =  59265.14

order number =  10212
item counts =  612
total  =  59830.55

order number =  10222
item counts =  717
total  =  56822.65

order number =  10262
item counts =  605
total  =  47065.36

order number =  10275
item counts =  601
total  =  47924.19

order number =  10310
item counts =  619
total  =  61234.67

order number =  10312
item counts =  601
total  =  55639.66

order number =  10316
item counts =  623
total  =  46788.14

order number =  10332
item counts =  621
total  =  47159.11

order number =  10339
item counts =  614
total  =  48927.64

order number =  10360
item counts =  620
total  =  52166.00

order number =  10373
item counts =  605
total  =  46770.52

order number =  10386
item counts =  650
total  =  46968.52

order number =  10390
item counts =  603
total  =  55902.50

order number =  10398
item counts =  629
total  =  46656.94

order number =  10414
item counts =  609
total  =  50806.85